<div class="new-wrapper">
  <div class="container">
    <h1> Create a cocktail </h1>
    <div>
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "Create a cocktail", class: "btn btn-primary btn-xl" %>
      <% end %>
    </div>
    <div>
      <%= link_to "Back", cocktails_path, class: 'btn btn-success btn-xl' %>
    </div>
  </div>
</div>

